body{
    background-color: mintcream;
}
header{
    text-align: center;
    color: ghostwhite;
    font-size: 50px;
    background-color: mediumaquamarine;
    width: 800px;
    margin-left: 300px;
}

.audio {
    text-align: center;
    
}
.video{
    text-align: center;
    height: 1000px;

}
p{
    color: darkslategray
}
strong{
    font-size: 20px;
}